<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.github.epfl.meili">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature android:name="android.hardware.camera.any" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />

    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />

    <application
        android:name=".MainApplication"
        android:allowBackup="true"
        android:fullBackupOnly="true"
        android:icon="@mipmap/meili_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/meili_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Meili">
        <activity
            android:name=".LogoActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <activity
            android:name=".posts.feed.FeedActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".profile.friends.FriendsListActivity"
            android:parentActivityName=".profile.ProfileActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".photo.PhotoCropActivity"
            android:noHistory="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".photo.PhotoEditActivity"
            android:configChanges="orientation|screenSize"
            android:screenOrientation="portrait" />
        <activity
            android:name=".profile.friends.NearbyActivity"
            android:parentActivityName=".profile.friends.FriendsListActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".auth.GoogleSignInActivity"
            android:label="Meili"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".map.MapActivity"
            android:label="@string/title_activity_map"
            android:screenOrientation="portrait" />
        <activity
            android:name=".photo.CameraActivity"
            android:noHistory="true"
            android:parentActivityName=".posts.forum.ForumActivity"/>
        <activity
            android:name=".messages.ChatLogActivity"
            android:parentActivityName=".map.MapActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".posts.forum.ForumActivity"
            android:parentActivityName=".map.MapActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".review.ReviewsActivity"
            android:parentActivityName=".map.MapActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".poi.PoiInfoActivity"
            android:parentActivityName=".map.MapActivity"
            android:screenOrientation="portrait" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

        <service android:name=".notifications.FirebaseNotificationService"
                android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT"/>
                <action android:name="com.google.android.c2dm.intent.RECEIVE"/>
            </intent-filter>
        </service>
        <activity
            android:name=".profile.ProfileActivity"
            android:screenOrientation="portrait" />
        <activity

            android:name=".posts.PostActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".profile.favoritepois.FavoritePoisActivity"
            android:parentActivityName=".profile.ProfileActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".profile.myposts.MyPostsActivity"
            android:parentActivityName=".profile.ProfileActivity"
            android:screenOrientation="portrait" />
    </application>

</manifest>