<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.github.epfl.meili">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature android:name="android.hardware.camera.any" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.CALL_PHONE"/>

    <application
        android:name=".MainApplication"
        android:fullBackupOnly="true"
        android:icon="@mipmap/meili_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/meili_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Meili"
        android:allowBackup="true">

        <activity android:name=".posts.feed.FeedActivity" />
        <activity
            android:name=".util.NavigableActivity"
            tools:ignore="Instantiatable" />
        <activity
            android:name=".profile.friends.FriendsListActivity"
            android:parentActivityName=".profile.ProfileActivity" />
        <activity
            android:name=".photo.PhotoCropActivity"
            android:noHistory="true" />
        <activity
            android:name=".photo.PhotoEditActivity"
            android:configChanges="orientation|screenSize" />
        <activity
            android:name=".profile.friends.NearbyActivity"
            android:parentActivityName=".profile.friends.FriendsListActivity" />
        <activity
            android:name=".auth.GoogleSignInActivity"
            android:label="Meili">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".map.MapActivity"
            android:label="@string/title_activity_map" />
        <activity
            android:name=".photo.CameraActivity"
            android:noHistory="true"
            android:parentActivityName=".posts.forum.ForumActivity" />
        <activity
            android:name=".messages.ChatLogActivity"
            android:parentActivityName=".map.MapActivity"/>
        <activity
            android:name=".posts.forum.ForumActivity"
            android:parentActivityName=".map.MapActivity"/>
        <activity
            android:name=".review.ReviewsActivity"
            android:parentActivityName=".map.MapActivity"/>
        <activity
            android:name=".poi.PoiActivity"
            android:parentActivityName=".map.MapActivity" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

        <activity android:name=".profile.ProfileActivity" />
        <activity
            android:name=".posts.PostActivity"
            android:parentActivityName=".posts.forum.ForumActivity" />
        <activity
            android:name=".profile.favoritepois.FavoritePoisActivity"
            android:parentActivityName=".profile.ProfileActivity" />
    </application>

</manifest>