<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.github.epfl.meili">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature android:name="android.hardware.camera.any" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" /> <!-- Nearby Connections API -->
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />

    <application
        android:name=".MainApplication"
        android:allowBackup="true"
        android:icon="@mipmap/meili_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/meili_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Meili">
        <activity
            android:name=".NavigableActivity"
            android:exported="true" />
        <activity
            android:name=".photo.PhotoCropActivity"
            android:noHistory="true" />
        <activity android:name=".photo.PhotoEditActivity" />
        <activity android:name=".nearby.NearbyActivity" />
        <activity android:name=".home.RequiresLoginActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity> <!-- Activities in order of appearance -->
        <!-- Sign in screen first and automatically goto map in case the user is signed in -->
        <activity
            android:name=".home.GoogleSignInActivity"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity> <!-- Map -->
        <activity
            android:name=".map.MapActivity"
            android:label="@string/title_activity_map"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".home.GoogleSignInActivity" />
        </activity>
        <activity
            android:name=".photo.CameraActivity"
            android:noHistory="true"
            android:parentActivityName=".forum.ForumActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".forum.ForumActivity" />
        </activity> <!-- POI features: forum, chat & review system -->
        <activity
            android:name=".messages.ChatLogActivity"
            android:parentActivityName=".map.MapActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".map.MapActivity" />
        </activity>
        <activity
            android:name=".forum.ForumActivity"
            android:parentActivityName=".map.MapActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".map.MapActivity" />
        </activity>
        <activity
            android:name=".review.ReviewsActivity"
            android:parentActivityName=".map.MapActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".map.MapActivity" />
        </activity> <!-- Secondary Activities -->
        <activity
            android:name=".poi.PoiActivity"
            android:parentActivityName=".map.MapActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".map.MapActivity" />
        </activity>

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

        <activity
            android:name=".profile.ProfileActivity"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".forum.PostActivity"
            android:parentActivityName=".forum.ForumActivity" />
    </application>

</manifest>